body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(60deg, #29323c 0%, #4387c2 100%);
}

[transparent] {
    opacity: 0 !important;
}

[disabled] {
    pointer-events: none !important;
}

.block_abs{
    position: absolute;
}


.block {
    position: relative;
    /*width: var(--width, 0);*/
    /*height: var(--width, 0);*/
    background: var(--block-bg);
    border-radius: var(--border-radius, 0);
}

.block::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}


.target-blocks{
    position: relative;
    width: 400px;
    height: 500px;
    justify-self: center;
}


.block.target {
    --block-bg: rgba(205, 210, 218, 0.6);
    z-index: -1;
}

.target-blocks #one{
    top: 0;
    left: 146px;
}

.target-blocks #two{
    top: 215px;
    left: 190px;
}

.target-blocks #three{
    top: 251px;
    left: 173px;
}

.target-blocks #four{
    top: 351px;
    left: 217px;
}

.target-blocks #five{
    top: 240px;
    left: 70px;
}

.target-blocks #six{
    top: 405px;
    left: 114.49px;
}

.target-blocks #seven{
    top: 422px;
    left: 277px;
}

.target-blocks #eight{
    top: 430px;
    left: 190px;
}

.target-blocks #nine{
    top: 430px;
    left: 240px;
}

.target-blocks #ten{
    top: 120px;
    left: 100px;
}


.block.target.dropped::after {
    animation: shadow-burst 0.3s forwards;
}

.block.draggable {
    /*--block-bg: rgba(78, 192, 233, 0.6);*/
    cursor: pointer;
    width: auto;
    height: auto;
}


.block.animated {
    transition: 0.3s ease-out;
}

.draggable-blocks {
    display: flex;
    flex-wrap: wrap;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 1rem;
    padding: 0 40px;
}


.game {
    display: grid;
    gap: 1.5rem;
    margin-bottom: 5px;
}

#start {
    transition: 0.3s;
}

button#start:disabled,
button#start[disabled] {
    background-color: #5a6268;
    border-color: #5a6268;
}

.statistics {
    display: flex;
    justify-content: space-between;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
    white-space: nowrap;
    margin-bottom: 3rem;
}

.statistics .score {
    margin-right: 100px;
}

#final-score-dialog {
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8);
    border-radius: 0;
    white-space: nowrap;
}

#final-score-dialog .dialog-content {
    gap: 12px;
    padding: 18px 64px;
}

#final-score-dialog .dialog-body {
    text-align: center;
}

@keyframes shadow-burst {
    to {
        box-shadow: 0 0 25px 50px rgba(255, 255, 255, 0.6);
        opacity: 0;
    }
}

.cantered-horizontal {
    display: flex;
    justify-content: space-between!important;

}

.mb-10 {
    margin: 0 10px;
}